<div class='card mb-4'>
  <div class='row title'>
    <h2 class='titleText'>
      {{title}}
    </h2>
    <p class='userText text-center'>Created by
      {{user.name}}
      on
      {{format_date date_created}}</p>
  </div>
  <div class='comment'>
    <textarea id="{{id}}" value="{{comment}}" placeholder="{{comment}}" class='commentText' rows="4" cols="100">
      {{comment}}
    </textarea>
  </div>
  <div class="flex-column">
    <button
      class='btn deleteBtn'
      data-id='{{id}}'
    >DELETE</button>
    <button
      class='btn updateBtn mt-3'
      data-id='{{id}}'
    >UPDATE</button>
            <button
      class='btn commentBtn mt-3'
      data-id='{{id}}'
    >COMMENT</button>
  </div>
</div>

<script src='../js/comment.js'></script>